:root {
  --blue: #3751ff;
  --hover-blue: #0f67be;
  --white: #ffffff;
  --light-grey: rgb(224, 224, 224);

  --b-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media print {
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}
